<div class="add-form">
  <h3>add new question </h3>
  <div>
    <label>question:</label>
    <input type="text" [(ngModel)]="newQtext">
  </div>

  <div class="answers-inputs">
    <label>answers:</label>
    @for (ans of newAnswers; track $index) {
      <input type="text" [(ngModel)]="newAnswers[$index]" [placeholder]="'תשובה ' + $index">
    }
  </div>

  <div>
    <label>correct index answer(0-3)</label>
    <input type="number" [(ngModel)]="correctIdx">
  </div>

  <button (click)="save()">add</button>
</div>